@import "bootstrap/scss/bootstrap";


#video-player, #search-box {
  height: 50vh;
  overflow-y: auto;
}

#video-player {
 background-color: #e078d0;
}

#search-box {
  // background-color: #e8b782;
}

#sound-events {
  background-color: #5874cd;
  height: 100vh;
}

.result-list {
  padding-top: 1em;
  column-count: 4;
}

.result {
  margin-bottom: 1rem;
  display: flex;
}

.card--image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
    .card-list {
        column-count: 1;
    }
}
